@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Demo de Gestión Alumno</h1>
    </div>
    <div>
        @Html.ActionLink("Gestión de Alumnos", "Index", "Alumno")
    </div>
</body>
</html>